* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #3da2e6;
  color: #f9d3b4;
  font-family: 'Times New Roman', Times, serif;
}

.app {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  background: linear-gradient(90deg, #0b0908, #e8a87c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fav-header {
  margin: 3rem 0 1rem;
  font-size: 2rem;
  border-bottom: 2px solid #e8a87c;
  padding-bottom: 10px;
}


.search {
  width: 70%;
  margin-bottom: 3rem;
  display: flex;
  gap: 10px;
}

.search input {
  flex: 1;
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  background: #1f2123;
  color: #fff;
  font-size: 1.2rem;
  box-shadow: 5px 5px 7px #1c1d1f;
}

.search button {
  padding: 0 2rem;
  border-radius: 2rem;
  cursor: pointer;
  background: #f9d3b4;
  border: none;
  font-weight: bold;
}


.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}


.movie {
  width: 250px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  background: #343739;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.movie:hover {
  transform: scale(1.05);
}

.movie img {
  width: 100%;
  height: 375px;
  object-fit: cover;
}

.movie-info {
  padding: 1rem;
  background: #343739;
}

.movie-info h3 {
  margin: 10px 0;
  font-size: 1rem;
  color: #fff;
}


.fav-btn {
  width: 100%;
  padding: 10px;
  background: #e8a87c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
